@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;700&family=Roboto+Slab:wght@500;700&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --main-font-color: #d7e0ff;
  --font-one: "Kumbh Sans", sans-serif;
  --button-backgroundcolor: #f87272;
  --buttons-border-color-popup: rgba(239, 241, 250, 1);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #161932;
  font-family: var(--font-one);
  color: var(--main-font-color);
}

.active {
  color: black !important;
  background-color: var(--button-backgroundcolor) !important;
}

main {
  & {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 100vh;
    font-family: inherit;
    padding: 0px 10px;
    z-index: 1;
  }

  > header {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 34px 0px;
    }
    > h1 {
      font-family: "Ubuntu", sans-serif;
    }
    nav {
      max-width: 100%;
      .buttons-container {
        & {
          display: flex;
          justify-content: space-between;
          margin-top: 44px;
          list-style: none;
          color: white;
          background-color: #1e213f;
          width: 380px;
          max-width: 100%;
          padding: 5px;
          border-radius: 32px;
        }
        button {
          cursor: pointer;
          width: 120px;
          flex-shrink: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border: 4px solid #1e213f;
          color: white;
          font-family: inherit;
          font-size: 14px;
          font-weight: 700;
          border-radius: 32px;
          padding: 9px 4px;
          letter-spacing: 0.3px;
          word-spacing: 1px;
          transition: 0.2s;
          &:focus {
            border: 4px solid #474c66;
            color: black;
            background-color: var(--button-backgroundcolor);
          }
        }
      }
    }

    @media (max-width: 450px) {
      & {
        margin: 20px 0px;
      }
      .buttons-container {
        margin-top: 30px !important;
      }
    }
  }

  > .timer-container {
    & {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .timer-btn {
      font-family: inherit;
      position: relative;
      cursor: pointer;
      border-radius: 50%;
      background-color: #161932;
      border: 4px solid transparent;
      &:focus {
        outline: none;
        border: 4px solid #474c66;
      }
      &:hover {
        .timer-svg {
          -webkit-box-shadow: -40px 30px 68px 30px rgba(246 246 246 / 12%);
          -moz-box-shadow: -40px 30px 68px 30px rgba(246 246 246 / 12%);
          box-shadow: -40px 30px 68px 30px rgba(246 246 246 / 12%);
          .border-circle {
            stroke: #161932;
          }
        }
      }
      .timer-svg {
        & {
          display: flex;
          width: 384px;
          height: 384px;
          border-radius: 50%;
          background-color: #161932;
          transform: rotate(-90deg);
          -webkit-box-shadow: 30px -40px 68px 30px rgba(246 246 246 / 12%);
          -moz-box-shadow: 30px -40px 68px 30px rgba(246 246 246 / 12%);
          box-shadow: 30px -40px 68px 30px rgba(246 246 246 / 12%);
        }
        .border-circle {
          fill: none;
          stroke: url(#gradient);
          stroke-dasharray: 311%;
          stroke-dashoffset: 0;
          stroke-width: 9px;
          transform-origin: 50% 50%;
          transform: rotate(45deg);
        }
        .timer-circle {
          fill: none;
          stroke: var(--button-backgroundcolor);
          stroke-linecap: round;
          stroke-width: 12px;
          stroke-dasharray: 277%;
          transition: 0.5s;
        }
      }
      .timer-states-container {
        & {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: absolute;
          gap: 4px;
          top: 51%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        span {
          color: var(--main-font-color);
          font-weight: 700;
        }
        #time-state {
          font-size: 90px;
          width: 100%;
        }
        #btn-state {
          font-size: 19px;
          letter-spacing: 25px;
          padding-left: 27px;
        }
      }
    }
    @media (max-width: 450px) {
      .timer-btn {
        width: 296px;
        height: 296px;
        .timer-svg {
          width: 288px;
          height: 288px;
          .border-circle {
            stroke-width: 8px;
          }
          .timer-circle {
            stroke-width: 8px;
          }
        }
        .timer-states-container {
          top: 52%;
          #time-state {
            font-size: 68px;
          }
          #btn-state {
            font-size: 14px;
          }
        }
      }
    }
  }

  > .setting-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    button {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: transparent;
      border: 4px solid transparent;
      &:focus {
        border: 4px solid #474c66;
      }
    }
  }

  .popup-styling-settings {
    & {
      display: none;
      max-width: 94%;
      width: 448px;
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #161932;
      font-family: "Ubuntu", sans-serif;
      border-radius: 12px;
      background-color: white;
      z-index: 2;
      transition: opacity 0.5s ease-in-out;
    }
    header {
      & {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 2px solid var(--buttons-border-color-popup);
      }
      h1 {
        font-size: 20px;
        text-transform: capitalize;
        padding-left: 11px;
      }
      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 45px;
        height: 45px;
        border: 4px solid transparent;
        border-radius: 50%;
        &:focus {
          outline: none;
          border-color: var(--buttons-border-color-popup);
        }
      }
    }
    > .container {
      padding: 8px 28px 20px;
      .time-setting {
        & {
          padding-bottom: 10px;
          border-bottom: 1px solid var(--buttons-border-color-popup);
        }
        h2 {
          font-size: 14px;
          padding-top: 3px;
          padding-left: 2px;
        }
        .change-times {
          & {
            padding-top: 35px;
            display: flex;
            gap: 7px;
          }
          > div {
            display: flex;
            flex-direction: column;
            > label {
              font-weight: 400;
              font-size: 12px;
              padding: 0px 0px 2px 4px;
            }
            > input {
              width: 100%;
              font-family: inherit;
              background-color: #eff1fa;
              border: 4px solid white;
              border-radius: 14px;
              padding: 10px;
              font-size: 16px;
              font-weight: 700;
              &:focus {
                outline: none;
                border-color: rgba(215, 224, 255, 1);
              }
            }
          }
        }
        .error-massage {
          display: flex;
          padding: 5px;
          margin-top: 5px;
          line-height: 1.4;
          gap: 5px;
          color: #fba2a2;
        }
      }

      .customize-fonts {
        & {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0px;
          border-bottom: 1px solid var(--buttons-border-color-popup);
        }
        h2 {
          font-size: 14px;
        }
        > div {
          display: flex;
          gap: 10px;
          > button {
            & {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #eff1fa;
              width: 40px;
              height: 40px;
              font-size: 14px;
              font-weight: 700;
              border-radius: 50%;
              border: 4px solid white;
            }
            &.active-font-btn {
              background-color: #161932;
              color: white;
            }
            &:focus {
              outline: 2px solid var(--buttons-border-color-popup);
              outline-offset: -2px;
            }
            &:hover {
              outline: 2px solid var(--buttons-border-color-popup);
              outline-offset: -2px;
            }
            &:nth-child(1) {
              font-family: "Kumbh Sans", sans-serif;
            }
            &:nth-child(2) {
              font-family: "Roboto Slab", serif;
            }
            &:nth-child(3) {
              font-family: "Space Mono", monospace;
            }
          }
        }
      }

      .customize-colors {
        & {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0px 30px;
        }
        h2 {
          font-size: 14px;
        }
        > div {
          display: flex;
          gap: 10px;
          > button {
            & {
              position: relative;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #eff1fa;
              width: 40px;
              height: 40px;
              font-size: 14px;
              font-weight: 700;
              border-radius: 50%;
              border: 4px solid white;
            }
            &:focus {
              outline: 2px solid var(--buttons-border-color-popup);
              outline-offset: -2px;
              background-color: #161932;
              color: white;
            }
            &:hover {
              outline: 2px solid var(--buttons-border-color-popup);
              outline-offset: -2px;
            }
            > svg {
              display: none;
            }
            &.active-color-btn {
              > svg {
                display: block;
              }
            }

            &:nth-child(1) {
              background-color: #f87272;
            }
            &:nth-child(2) {
              background-color: #70f3f8;
            }
            &:nth-child(3) {
              background-color: #d881f8;
            }
          }
        }
      }
    }
    .apply {
      width: 100%;
      position: relative;
      > button {
        cursor: pointer;
        position: absolute;
        bottom: -21px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 33px;
        border-radius: 35px;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        color: white;
        border: none;
        transition: background-color 0.3s;
        background-color: #f87272;
        &:hover {
          background-color: #fba2a2;
        }
        &:focus {
          outline: 4px solid rgba(255, 255, 255, 25%);
        }
      }
    }

    @media (max-width: 450px) {
      max-width: 92%;
      top: 50%;
    }
  }
  .out-layer {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(22, 25, 50, 50%);
    z-index: 0;
  }
}

.display-popup {
  display: block !important;
  opacity: 0;
  animation: opacityAnimation 0.3s ease-in-out forwards;
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.invalid-value {
  color: #f87272;
  > input {
    color: #f87272;
    border: 2px solid #f87272 !important;
  }
}
